.navbar-fancy {
    margin-top: 20px;

    .navbar-brand {
        color: $color-pink;
        font-size: 25px;
    }

    .navbar-nav {
        font-size: 14px;

        li {
            margin: 0 20px;

            a {
                font-weight: 600;
                color: $grey;
                text-align: center;

                &:hover, &:active, &:focus {
                    background:$color-pink;
                    color: $color-white;
                }
            }
        }


    }
    .navbar-toggle{
      border-color:$color-pink;
      span{
      background:$color-pink;
      }
    }
}
@media (min-width:768px) {
  .navbar-fancy .navbar-nav li.active {
      border: 2px solid $color-pink;
  }
}
